<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/add.css">
</head>
<body>

  <form action="/car/add" method="post">
    <label >Name:</label>
    <input type="text" id="name" name="name" required>

    <label >Type:</label>
    <select aria-label="select a type" name="type" required> 
        <option value="On Road car "> On Road car </option> 
        <option value=" Off Road car ">  Off Road car </option> 
        </select>

    <label >Image:</label>
    <input type="text" id="name" name="image" required>
    
      <label>Origin:</label>
    <select aria-label="select an origin" name="origin" required>
        <option value="">Select an origin</option>
        {{#each origins}}
            <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
  Car color:
    <input type="radio" name="color" value="Black"> Black
    <input type="radio" name="color" value="White"> White
    <input type="radio" name="color" value="Yellow"> Yellow
    <input type="radio" name="color" value="Blue"> Blue
    <br><br>
    <label >Price:</label>
    <input type="text" id="email" name="price" required>

    <label >Description:</label>
    <input type="text" id="age" name="description" required>

    <button type="submit">Add car</button>
  </form>

</body>
</html>